body{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: greenyellow;
    font: 1em verdana;

}
.img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}